<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/semantic.min.css">
    <script src="static/semantic.min.js"></script>
    <title>{{ title }}</title>
</head>
<body>
    <h2 class="ui center aligned icon header"><i class="circular users icon"></i> Friends </h2>
    <h2 class="ui center aligned icon header"><img src="/images/avatar2/large/patrick.png" class="ui circular image"> Patrick </h2>
    {% block content %}
    {% endblock %}
</body>
</html>